body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 280%;
}

.container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 60%;
    padding-left: 10%;
    padding-bottom: 20%;
}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 1%;
    border-radius: 5%;
}

.border-line {
    border-left: 5px solid;
    border-color: tomato;
    padding-left: 5px;
}

#text-down {
    padding-top: 100px;
}

.third-width {
    width: 70%;

    margin: 50px;
    padding-left: 10px;
}

.third-width img {
    width: 40%;
}

#Learn {
    background-color: #DBF3FA;
    border-radius: 15px;
    max-width: 500px;
    padding: 2%;
}

#explore {
    background-color: #FFC0CB;
    max-width: 500px;
    border-radius: 15px;
    padding: 2%;
}


#implementation {
    background-color: #FFF9A6;
    max-width: 500px;
    border-radius: 15px;
    padding: 2%;
}